*{
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
}

/* BACKGROUND IMAGE & OVERLAY */

.Ezekiel{
    background-image: url('image/BG3.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: auto;
}

.overlay{
    width: 100%;
    background-color: rgba(0, 0, 0, 0.66);
}

/* NAVIGATION BAR */

.navigation-bar{
    width: 100%;
    height: 80px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

/* NAVIGATION BAR LOGO */

.nav-logo{
    width: 25%;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    filter: drop-shadow(0 0 4px rgba(0, 0, 0, 0.6));
}

.nav-logo img{
    position: relative;
    bottom: 15px;
    width: 90px;
    height: 90px;
}

.nav-logo h1{
    /* color: #4169e1; */
    color: #0090c9;
    position: relative;
    top: 4px;
    right: 8px;
    font-size: 29px;
}


/* main-content */

/* STEP 1 */

.step{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: opacity 0.4s ease;
    animation: fadeIn 2s forwards;
}

.step .active {
    pointer-events: auto;
    opacity: 1;
}

.step .inactive {
    pointer-events: none;
    opacity: 0;
}

.step h2{
    color: #ffffffb7;;
    font-size: 50px;
    margin-bottom: 20px;
}

/* From Uiverse.io by Satwinder04 */ 
/* Input container */
.input-container {
    position: relative;
    margin: 20px;
}

/* Input field */
.input-field {
    display: flex;
    width: 300px;
    padding: 10px;
    font-size: 20px;
    border: none;
    border-bottom: 2px solid #ccc;
    outline: none;
    background-color: transparent;
    color: #fff;
}

/* Input label */
.input-label {
    position: absolute;
    top: 0;
    left: 0;
    font-size: 16px;
    color: rgba(204, 204, 204, 0);
    pointer-events: none;
    transition: all 0.5s ease;
}

/* Input highlight */
.input-highlight {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 2px;
    width: 0;
    background-color: #0090c9;
    transition: all 0.5s ease;
}

/* Input field:focus styles */
.input-field:focus + .input-label {
    top: -20px;
    font-size: 12px;
    color: #0090c9;
}

.input-field:focus + .input-label + .input-highlight {
    width: 100%;
}


/* From Uiverse.io by ernestnash */ 
.btn {
    display: inline-block;
    padding: 0.9rem 1.8rem;
    font-size: 16px;
    font-weight: 700;
    color: white;
    border: 3px solid #0090c9;
    cursor: pointer;
    position: relative;
    background-color: transparent;
    text-decoration: none;
    overflow: hidden;
    z-index: 1;
    font-family: inherit;
    border-radius: 5px;
    margin-top: 10px;
    margin-left: 15px;
}

.btn::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #0090c9;
    transform: translateX(-100%);
    transition: all .3s;
    z-index: -1;
}

.btn:hover::before {
 transform: translateX(0);
}

/* step 2 */
#symptomForm{
    display: flex;
    background-color: transparent;
    flex-wrap: wrap;
    width: 1150px;
    align-items: center;
    justify-content: center;
    gap: 10px

}
.symptom{
    width: 350px;
    height: 35px;
    background-color: transparent;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(12px);
    border-radius: 6px;
    border: 1px solid rgba(255, 255, 255, 0.15);
    box-shadow: 0 8px 16px rgba(0,0,0,0.2);
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 20px;
    margin-bottom: 10px;
}

input{
    width: 16px;
    height: 16px;
}
label{
    font-size: 17px;
    color: #ffffffab;
}

.loader-con{
    width: 100%;
    height: 100vh;
    background-color: transparent;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

#loader {
    width: 60px;
    height: 60px;
    border: 8px solid #e0e0e0;   /* light gray */
    border-top: 8px solid #007bff; /* blue */
    border-radius: 50%;
    animation: spin 1s linear infinite;
    margin-bottom: 20px;
}

@keyframes spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
}

/* step 4 */
.sttep4{
    padding: 40px;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(2px);
    border-radius: 6px;
    border: 1px solid rgba(255, 255, 255, 0.15);
    box-shadow: 0 8px 16px rgba(0,0,0,0.2);
    padding: 20px;
    color: #fff;
}

p{
    font-size: 22px;
    color: #ffffffab;
    /* color: #ffffffe7; */
}

.result{
    font-size: 25px;
    /* color: #ffffffab; */
    color: #ffffffcb;
    margin-top: 4px;
}

.report-box {
    width: 80%;
    height: fit-content;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(2px);
    border-radius: 6px;
    border: 1px solid rgba(255, 255, 255, 0.15);
    box-shadow: 0 8px 16px rgba(0,0,0,0.2);
    padding: 30px;
    color: #ffffffb7;
}


.nothing2{
    max-height: 100%;
}

/* Floating Button */
.bi-arrow-return-left{
    padding-top: 17px;
    padding-left: 13px;
}

.floatingButton{
    display: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    font-size: 25px;
    width: 55px;
    height: 55px;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(12px);
    border: 1px solid rgba(255, 255, 255, 0.15);
    border-radius: 50%;
    color: white;
    cursor: pointer;
}
.floatingButton:hover{
    transform: scale(1.1);
}

/* footer */
footer{
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffffc9;
    font-size: 18px;
    border-top: 1px solid gray;
}

@keyframes fadeIn{
    from {
        opacity: 0;
        transform: translateX(-50px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

/* Responsiveness */

/* Tablet */

@media (min-width: 801px) and (max-width: 1200px) {
    .Ezekiel{
        min-height: 100vh;
    }

    .nav-logo{
        width: 30%;
    }
    
    .nav-logo img{
        width: 75px;
        height: 75px;
        position: relative;
        bottom: 10px;
        left: 20px;
    }

    .nav-logo h1{
        font-size: 26px;
        position: relative;
        left: 10px;
        top: 5px;
    }

    .step{
        margin-top: 50px;
        margin-bottom: 60px;
    }

    .step h2{
        font-size: 30px;
    }

    #step-2 h2{
        text-align: center;
    }

    .input-field{
        width: 250px;
        font-size: 15px;
    }

    .btn{
        padding: 0.6rem 1.5rem;
        margin-right: 20px;
    }

    #symptomForm{
        display: flex;
        background-color: transparent;
        flex-direction: column;
        width: 50%;
        margin-top: 5px;
        background-color: transparent;

    }

    .symptom{
        width: 250px;
    }


    p{
        font-size: 23px;
    }

    .result{
        font-size: 26px;
        margin-top: 10px;
    }

    .report-box {
        width: 90%;
        height: fit-content;
        padding: 20px;
    }
    
    #step-5 .closingRemark{
        width: 90%;
        background-color: transparent;
    }
}

@media (min-width:0) and (max-width: 800px) {
    .Ezekiel{
        min-height: 100vh;
    }

    .nav-logo{
        width: 60%;
        display: flex;
        justify-content: flex-start;
    }
    
    .nav-logo img{
        width: 75px;
        height: 75px;
        position: relative;
        bottom: 10px;
        left: 15px;
    }

    .nav-logo h1{
        position: relative;
        left: 2px;
        font-size: 15px;
    }

    .step{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: transparent;
        margin-top: 40px;
        margin-bottom: 60px;
    }
    .step h2{
        font-size: 19px;
    }

    #step-2 h2{
        text-align: center;
    }

    #symptomForm{
        width: 50%;
        background-color: transparent;
    }

    .symptom{
        width: 200px;
    }


    .input-field{
        width: 200px;
        font-size: 15px;
    }

    .btn{
        padding: 0.4rem 1.3rem;
        margin-right: 16px;
    }

    .sttep4{
        padding: 20px;
        width: 70%;
        height: fit-content;
    }

    p{
        font-size: 15px;
        color: #ffffffab;
        /* padding-top: 8px; */
    }

    .result{
        font-size: 17px;
        color: #ffffffab;
        margin-top: 10px;
        line-height: 20px;
        /* margin-left: 5px; */
    }

    .report-box{
        width: 80%;
        height: fit-content;
        padding: 20px;
    }

    .report-box p{
        font-size: 14px;
        color: #ffffffab;
    }

    #step-5 .closingRemark{
        width: 90%;
        background-color: transparent;
    }

    .floatingButton{
        bottom: 20px;
        right: 10px;
        font-size: 25px;
        width: 40px;
        height: 40px;
    }

    .bi-arrow-return-left{
        padding-top: 10px;
        padding-left: 9px;
        font-size: 20px;
    }
}